### Since Ansible 2.12 (core):
### To generate an example config file (a "disabled" one with all default settings, commented out):
###               $ ansible-config init --disabled > ansible.cfg
###
### Also you can now have a more complete file by including existing plugins:
### ansible-config init --disabled -t all > ansible.cfg

### For previous versions of Ansible you can check for examples in the 'stable' branches of each version
### Note that this file was always incomplete  and lagging changes to configuration settings

[defaults]
host_key_checking = false
ask_vault_pass    = false
ask_pass          = false
remote_user       = ansible

# ANSIBLE PATHS
inventory           = /home/linux-adm/playbooks/inventory
private_key_file    = /home/linux-adm/.ssh/ansible/ansible-id_ed25519
vault_password_file = /home/linux-adm/playbooks/keys/.vault-password

roles_path          = /home/linux-adm/playbooks/roles:/usr/share/ansible/roles
log_path            = /home/linux-adm/playbooks/logs/ansible.log
collections_path    = /home/linux-adm/playbooks/collections

[privilege_escalation]
become          = true
become_ask_pass = true
become_method   = sudo
become_user     = root

[ssh_connection]
ssh_common_args = '-o ProxyJump=proxy99.syslabs.com'
