#############################################
# EGRESS RULESET: SMTP
#############################################

oif {{ ofname }} tcp dport 2525 accept
oif {{ ofname }} tcp dport 25 accept
oif {{ ofname }} tcp dport 465 accept
oif {{ ofname }} tcp dport 587 accept
