############################################################################################
# SECTION::USER LOGIN DIRECTIVES
############################################################################################
{% if sshd_users is defined and ((sshd_users | length) > 0) %}
AllowUsers {{ sshd_users | join(' ') }}
{% endif %}
